@import "../../vars.css";

.container{
    margin: 10%;
}

.title{
    color: var(--color-primary);
    font-size: 35px;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.projectList{
    display: flex;
    flex-wrap: wrap;
    align-items: top;
    justify-content: center;
    gap: 13px;
}

.projectCard{
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    height: auto;
    width: 345px;
    padding: 10px;
    background: linear-gradient(180deg, 
    var(--color-primary) 0%, 
    var(--color-secondary) 100%
    );
    color: var(--color-bg);
    border-radius: 10px;
}

.projectImg{
    width: 100%;
    border-radius: 10px;
    align-self: center;
}

.cardContent{
    display: flex;
    text-align: justify;
    flex-direction: column;
    font-size: 25px;
}

.projectTitle, .projectContent{
    margin: 10px;
}

.projectSkills{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 5px;
    gap: 10px;
}

.skill{
    background-color: var(--color-dark);
    font-size: 20px;
    padding: 5px 20px;
    list-style-type: none;
    border-radius: 20px;
}

.linksContainer{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.linksContainer a{
    text-decoration: none;
    color: var(--color-bg);
    font-weight: 800;
    padding: 10px 20px;
    background-color: var(--color-primary);
    border-radius: 30px;
}